#load-more {
	display:block;
	margin:5px auto;
	width:90%;
	text-align:center;
	padding:5px;
	font-size:14px;
	color:#484d57
}
.servicesStyle {
	font-size:0;
	margin:1px 0;
	padding:0
}
.servicesStyle li {
	display:list-item;
	position:relative;
	padding:16px 21px 16px;
	overflow:hidden;
	border-bottom:2px solid #ededed
}
.iOs .servicesStyle li {
	padding:16px 21px 16px
}
.servicesStyle li .clear {
	clear:both
}
.servicesStyle .pose {
	position:absolute;
	left:0;
	top:0;
	z-index:10
}
.servicesStyle img.titleImage {
	float:left;
	margin-right:14px
}
.servicesStyle .title {
	font-size:14px;
	color:#484d57;
	font-weight:bold;
	margin:0 0 4px
}
.servicesStyle .title .price {
	font-weight:normal;
	color:#f16c6c
}
.servicesStyle .title .price .font-smaller {
	font-size:smaller
}
.servicesStyle .minmultiple {
	font-size:14px
}
.servicesStyle .desc {
	font-size:13px;
	color:#949696
}
#AppointTypeSpace {
	height:45px;
	padding:0;
	margin:0
}
#AppointType {
	position:fixed;
	z-index:100;
	top:0;
	left:0;
	width:100%;
	background:#f6f6f6;
	min-height:45px;
	border-bottom:1px solid #b2b2b2
}
#AppointType .wrap {
	position:relative;
	height:45px;
	text-align:center;
	width:340px;
	margin:auto
}
.iOs #AppointType .wrap {
	width:300px
}
#AppointType table {
	height:45px;
	margin:auto
}
#AppointType .checker {
	font-size:0;
	overflow:hidden
}
#AppointType .checker a {
	font-size:16px;
	padding:4px 10px;
	display:inline-block;
	border:1px solid #249caa;
	background:#fff;
	color:#249caa;
	line-height:21px
}
#AppointType .checker.product .type-product,#AppointType .checker.engineer .type-engineer {
	background:#249caa;
	color:#fff
}
#AppointType .checker .type-product {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px
}
#AppointType .checker .type-engineer {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px
}
.arrow_back {
	position:absolute;
	top:11px;
	width:10px;
	height:20px
}
.arrow_back .icon1 {
	display:block;
	border-width:9px 9px 9px 0;
	border-color:transparent #249caa transparent transparent;
	border-style:solid;
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:0
}
.arrow_back .icon2 {
	display:block;
	border-width:9px 9px 9px 0;
	border-color:transparent #f6f6f6 transparent transparent;
	border-style:solid;
	position:absolute;
	left:2px;
	top:-9px;
	width:0;
	height:0
}
.gfxiongTitle {
	line-height:45px;
	padding-right:10px
}
.city-select {
	position:absolute;
	left:0;
	top:0;
	z-index:1000;
	line-height:45px;
	height:45px
}
.city-select .city-loc {
	position:absolute;
	left:0;
	top:12px;
	display:inline-block;
	background:url("http://static.gfxiong.com//img/wx_icons/city-loc.png") no-repeat;
	background-size:100%;
	width:17px;
	height:22px
}
.city-select .current-choice {
	position:absolute;
	left:17px;
	width:57px;
	display:inline-block;
	color:#249caa
}
.city-select .all-choice {
	display:none;
	position:absolute;
	top:35px;
	left:-10px;
	width:70px;
	background:#f6f6f6;
	padding:0 10px 5px 5px;
	border-bottom-right-radius:5px
}
.city-select .selection {
	padding:0 0 0 30px
}
.city-select .selection.selected {
	display:inline-block;
	background:url("http://static.gfxiong.com//img/wx_icons/map.png") no-repeat 2px 13px;
	background-size:30%;
	padding:0 0 0 30px;
	height:45px;
	color:#249caa
}
#city-mask {
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1000
}
#city-mask .mask {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#000;
	opacity:.2;
	z-index:1100
}
#city-mask .chose-city {
	position:relative;
	z-index:1200;
	background:#fff;
	margin:14% auto auto;
	height:80%;
	width:310px
}
.iOs #city-mask .chose-city {
	width:270px
}
#city-mask .chose-city h1 {
	font-size:16px;
	color:#323333;
	font-weight:normal;
	border-bottom:1px solid #ededed;
	height:40px;
	line-height:40px;
	margin:0
}
#city-mask .chose-city .each-city {
	text-align:left;
	margin:0 20px;
	padding:10px 0;
	border-bottom:1px solid #ededed
}
#city-mask .chose-city .each-city h2 {
	font-size:13px;
	color:#323333;
	margin:0;
	font-weight:normal
}
#city-mask .chose-city .each-city p {
	font-size:13px;
	color:#afb2b2;
	margin:0
}
.top-banner {
	display:block;
	width:100%;
	padding:0;
	margin:0;
	font-size:0
}
#guozu {
	position:fixed;
	top:35%;
	left:10%;
	width:80%;
	height:160px;
	background:#fff;
	z-index:99999;
	border-radius:5px;
	border:1px solid #249caa
}
#guozu .tishi {
	line-height:40px
}
#guozu .gzct {
	margin:5px 0 12px 0
}
#guozu .gzct .gzctl {
	display:inline-block;
	background:url("http://static.gfxiong.com//img/admin-photo.png") no-repeat;
	background-size:100%;
	height:60px;
	width:60px;
	margin-right:15px
}
#guozu .gzct .gzctr {
	display:inline-block
}
#guozu .gzct .gzctr p {
	padding:0;
	margin:0
}
#guozu .gzct .gzctr p.red {
	color:#dc143c
}
#guozu .gzbtn {
	border-top:1px solid #249caa
}
#guozu .gzbtn #gzbtnl {
	display:inline-block;
	width:48%;
	line-height:2.45;
	border-right:1px solid #249caa
}
#guozu .gzbtn #gzbtnr {
	display:inline-block;
	width:48%;
	line-height:2.45
}
#Main {
	font-size:0;
	margin:1px 0;
	padding:0;
	width:340px;
	margin:auto
}
#Main li {
	display:list-item;
	position:relative;
	padding:16px 21px 16px;
	overflow:hidden;
	border-bottom:2px solid #ededed
}
.iOs #Main li {
	padding:16px 21px 16px
}
#Main li .clear {
	clear:both
}
#Main .pose {
	position:absolute;
	left:0;
	top:0;
	z-index:10
}
#Main img.titleImage {
	float:left;
	margin-right:14px
}
#Main .title {
	font-size:14px;
	color:#484d57;
	font-weight:bold;
	margin:0 0 4px
}
#Main .title .price {
	font-weight:normal;
	color:#f16c6c
}
#Main .title .price .font-smaller {
	font-size:smaller
}
#Main .minmultiple {
	font-size:14px
}
#Main .desc {
	font-size:13px;
	color:#949696
}
.iOs #Main {
	width:300px
}
#Main li {
	position:relative;
	text-align:left;
	margin-top:7px;
	border-radius:5px;
	background-color:#fff;
	border:#ededed 1px solid;
	text-align:right;
	margin-top:5px;
	border:none
}
#Main .desc {
	margin-top:1px;
	margin-bottom:7px
}
#Main .desc>img {
	margin-right:3px
}
#Main .desc>* {
	vertical-align:middle
}
#Main .btn a {
	display:inline-block;
	background-color:#249caa;
	color:#fff;
	font-weight:normal;
	font-size:13px;
	padding:7px 12px;
	border-radius:20px;
	line-height:17px
}
.add-att {
	position:fixed;
	width:100%;
	left:0;
	bottom:0;
	text-align:center;
	background:#fff8e5;
	border-spacing:0;
	border-collapse:separate;
	table-layout:fixed;
	z-index:100;
	border-top:#ffaf48 1px solid;
	height:50px;
	line-height:50px;
	text-decoration:underline
}
.add-att a {
	color:#666;
	font-size:14px
}
.add-att a .more {
	font-size:16px
}
